@model CategoryViewModel


    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <div class="container">
        <form method="post">
            <br />
            <label>Kategori Ad</label>
            <input type="text" class="form-control" asp-for="CategoryName" />
            <br />
            <label>Kategori Açıklama</label>
            <input type="text" class="form-control" asp-for="Description" />
            <br />
            <button class="btn btn-outline-primary">Ekle</button>
        </form>
    </div>
